{
  "plugins": [
    ["transform-object-rest-spread", { "useBuiltIns": true }],
    ["fast-async", {
      "compiler": {
        "promises": true,
        "es7": true,
        "wrapAwait": true,
        "generators": false
      }
    }]
  ],
  "presets": [
    ["env", {
      "targets": {
        "node": 4.8
      },
      "exclude": [
        "transform-async-to-generator",
        "transform-regenerator"
      ]
    }]
  ]
}
